{% extends "index.html" %}
{% block content %}

<!--<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
    
</form>-->
<nav>
    <label class="logo">Distributed Systems Assignment 1</label>
</nav>

    <div class="container">
        <div class="img">
            <img src="{{ url_for( 'static', filename='compliment.jpg', v=1)}}">
        </div>
        <div class="login-container">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <img class="avatar" src="{{ url_for( 'static', filename='girl.png', v=1)}}">
                <h2>Give the girl a compliment</h2>
                <div class="input-div one">
                    <div>
                        <h5>{{ form.name.label }}<br></h5>
                        <p>
                            {{ form.name(size=32) }}<br>   

                        </p>
                        
                        
                        {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}